---
import MainLayout from "../../layouts/MainLayout.astro";
import Tags from "../../components/Tags.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { formDate } from "../../utils";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("slug needed");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <main class="mx-auto max-w-full sm:max-w-55">
    <a
      href="/articles"
      class="back inline-block bg-gray-100 p-2 mb-6 hover:bg-footer hover:text-white"
      >Back To Articles</a
    >
    <article class="p-2 md:p-12 sm:p-2">
      <h1 class="text-4xl font-extrabold mb-2">{entry.data.title}</h1>
      <h3 class="author tracking-tight mb-2">
        Written by {entry.data.author} on {formDate(entry.data.pubDate)}
      </h3>
      <Tags tags={entry.data.tags} />
      <img
        src={entry.data.image}
        alt="weight loss challange"
        class="w-full h-auto rounded-xl my-6"
        width="800"
        height="200"
      />
      <Content />
    </article>
  </main>
</MainLayout>

<style is:inline>
  h2 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .back{
    font-family: "Plus Jakarta Sans", serif !important;
  }
  h4 {
    font-weight: 700;
  }

  h5 {
    font-weight: 800;
  }

  .author{
    font-weight: 400;
    color: #6B6B6B;
    font-size: 18px;
    font-family: "Plus Jakarta Sans", serif !important;
  } 
  h3 {
    font-weight: 600;
    font-size: 24px;
  }
   article a{
    color: blue;
   }

  .aff-link{
    text-decoration: underline;
    font-style: italic;
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Plus Jakarta Sans", serif !important;
  }
  p {
    font-weight: 400;
    margin: 20px 0;
    font-size: 20px;
    color: #242424;
    line-height: 32px;
    font-family: "Source Serif 4", serif;
  }

  ul > li {
    font-size: 14px;
    list-style: disc;
    font-family: "Source Serif 4", serif;
    font-size: 20px;
  }

  .images {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    margin-top: 1.5rem; /* Equivalent to my-6, Tailwind's default is 0.25rem for each unit, so 6 units is 1.5rem */
    margin-bottom: 1.5rem;
  }

  .btn-link {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #ffd814;
    border: 1px solid #fcd200;
    font-size: 13px;
    height: 31px;
    line-height: 31px; /* Added for vertical alignment */
    padding: 0 11px;
    text-align: center;
    width: 100%;
    min-width: 200px;
    font-weight: 500;
    color: #0f1111;
}

  .btn-link:hover {
    background: #f7ca00;
    border-color: #f2c200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  }

  

  .affilate-link{
    color: rgb(94, 94, 253);
    font-weight: 600;
    font-size: medium;
  }
     
   
  
</style>
