---
import { formDate } from "../utils";
import type { CollectionEntry } from "astro:content";


const { article } = Astro.props
interface Props {
    article: CollectionEntry<'blog'>;
}
---

<h2 class="mt-10  font-header text-2xl tracking-tighter">Featured Posts</h2>
<div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="w-full p-4">
      <a href={'/articles/' + article.slug}>
      <img class="h-48 w-full object-cover rounded md:w-48" src={article.data.image} alt="Article Cover">
      </a>
    </div>
    <div class="p-4">
      <h1 class="text-lg font-header font-bold">{article.data.title}</h1>
      <p class="mt-2 text-sm text-gray-600">{article.data.summary}
        <p class="text-xs mb-2 text-gray-500">{formDate(article.data.pubDate)}</p>
        {article.data.tags.map((tag:string) => (
  <span class="px-2 py-1 border text-normal rounded-full text-xs  mr-2">
    {tag}
  </span>
))}

        <!-- <div class="flex mt-4 justify-center">
          {article.data.tags.map((tag:string) => (
  <span class="px-2 py-1 border text-white rounded-full text-xs mr-2">
    {tag}
  </span>
))}
        </div> -->

